.logIn {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.logInBg {
    background-position: bottom;
    background-image: url(images/bg/LoginBg.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2.4%;
    position: absolute;
    width: 50%;
    height: 100%;
}

.textTizim {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(27px);
    border-radius: 50px;
    padding: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 60%;
    margin: 0 auto;
    margin-top: 10vh;
}

.textTizim p {
    color: white;
    font-size: 300%;
    font-weight: 900;
}

/* Login side */

.loginInputs {
    text-align: center;
    margin-top: 12%;
    overflow: hidden;
    position: absolute;
    width: 50%;
    right: 0;
}

.loginInputs h1 {
    font-size: 300%;
    font-weight: 900;
}

.loginInputs svg {
    margin-bottom: -10%;
}

.line1 {
    position: relative;
    left: -28%;
}

.line2 {
    position: relative;
    right: -28%;
}

.loginInfo {
    margin: 0 auto;
    width: 40%;
    color: #7A3700;
}


.loginLinks {
    color: #0094FF;
    margin: 3%;
    font-weight: 600;
    cursor: pointer;
}

.linkToRegistrate:hover {
    cursor: pointer;
    color: #A47600;
    transition: 0.2s;
    font-size: 150%;
}


/* Home page start */

.myNavbar {
    background-color: #FBB500;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 1%;
    position: relative;
    top: -5%;
}

.home {
    background-color: #FBB500;
    background-image: url(images/bg/bg.png);
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: 100%;
    padding-top: 4%;
    padding-bottom: -16.8%;
}


.homeRow {
    width: 60%;
    padding: 2%;
    padding-bottom: 4%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    margin: 0 auto;
}

#boshlashBtn {
    background: #FF5C00;
    border-radius: 10px;
    border: none;
    padding: 1%;
    font-size: 150%;
    font-weight: 500;
    color: white;
    width: 100%;
    margin-top: 2%;
}

/* Exam page */

.startBtn {
    width: 100%;
    padding: 1%;
    font-size: 150%;
    font-weight: 700;
    border: none;
    background: #FBB500;
    border-radius: 10px;
    margin-bottom: 2%;
}

.startBtnCLicked {
    opacity: 0.5;
}

.examQuestion {
    background: rgba(251, 181, 0, 0.11);
    border-radius: 30px;
}

.answer input {
    width: 100%;
    padding: 2%;
    border: 1px solid #FBB500;
    border-radius: 10px;
}

.answerBtnActive {
    width: 100%;
    padding: 2%;
    border: none;
    color: black;
    background: #FBB500;
    border-radius: 10px;
}

.answerBtnDisable {
    width: 100%;
    padding: 2%;
    border: none;
    color: #A47600;
    background: rgba(251, 181, 0, 0.3);
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .logInBg {
        position: relative;
    }

    .loginInputs {
        position: relative;
    }

    .textTizim p {
        font-size: 200%;
    }

    .loginResponsive {
        width: 100%;
    }

    /* admin */

    .adminMalumoti div {
        width: 60%;
        position: relative;
        top: 30%;
        margin: 0 auto;
    }

    /* examPage */

    .answer {
        width: 100%;
        margin-bottom: 3%;
    }

    .answersBtnResponsive {
        width: 100%;
    }

    .answersText h4 {
        font-size: 50%;
    }


    /* New question */

    .newQuestions {
        width: 100%;
    }


}

/* Modal */
.popUp-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c6c0c0b5;
}

.myModal {
    width: 25%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    background: #FFFFFF;
    border-radius: 60px;
    padding: 2%;
    box-shadow: 0 5px 5px gray;
    text-align: center;
}

.myModal img {
    width: 60%;
}

.myModal button {
    background-color: rgba(255, 255, 255, 0.051);
    border: none;
    position: relative;
    left: 40%;
    top: -20%;
}

/* Registrate */
.hiddenCheckRegistrate {
    display: none;
}

.adminMalumoti {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #c6c0c0b5;
}

.adminMalumoti div {
    /* width: 20%; */
    border: 1px solid;
    background: #FFFFFF;
    border-radius: 60px;
    padding: 2%;
    border: none;
    overflow: hidden;
}


/* Add question */
.newQuestions {
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 4%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    margin: 0 auto;
}

.newQuestions button {
    width: 94%;
    margin-left: 3%;
    background: #FF5C00;
    color: white;
    font-weight: 600;
}

@media only screen and (min-width: 992px) {
    .newQuestions {
        width: 40%;
    }

    .adminMalumoti div {
        width: 20%;
        position: relative;
        top: 30%;
        left: 40%;
    }


}

.textArea {
    width: 100%;
    border: 0.5px solid #B2B2B2;
    border-radius: 30px;
    padding: 1%;
}

.chooseImg{
    margin-top: 5%;
    text-align: center;
}
.chooseImg img{
    width: 40%;
    position: relative;
    left: 20%;
    border: 1px solid;
    border-radius: 20%;
    padding: 3%;
    /* cursor: pointer; */
}
.chooseImg img:hover{
    cursor: pointer;
}
.chooseImg input{
    opacity: 0;
    width: 40%;
    position: relative;
    left: -20%;
    top: -10%;
    height: 30%;
    border: 1px solid;
    cursor: pointer;

}

.newQuestionAnswer {
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid #B2B2B2;
    margin-bottom: 2%;
}

.newQuestionSave {
    background-color: #FF5C00;
    color: white;
    width: 100%;
}