.logIn {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logInBg {
    background-position: bottom;
    background-image: url(images/bg/LoginBg.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2.4%;
}

.textTizim {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(27px);
    border-radius: 50px;
    padding: 5%;
    padding-top: 18%;
    padding-bottom: 25.3%;
    width: 60%;
    margin: 0 auto;
}

.textTizim p {
    color: white;
    font-size: 400%;
    font-weight: 900;
}

/* Login side */

.loginInputs {
    text-align: center;
    margin-top: 15%;
    overflow: hidden;
}

.loginInputs h1 {
    font-size: 300%;
    font-weight: 900;
}

.loginInputs svg {
    margin-bottom: -10%;
}

.line1 {
    position: relative;
    left: -28%;
}

.line2 {
    position: relative;
    right: -28%;
}

.loginInfo {
    margin: 0 auto;
    width: 40%;
    color:#7A3700;
}


.myNavbar {
    background-color: #FBB500;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid white;
    padding: 1%;
}

.home {
    background-color: #FBB500;
    background-image: url(images/bg/bg.png);
    width: 100%;
    background-size: 100%;
    padding-top: 4%;
    padding-bottom: 16.8%;
}


.homeRow {
    width: 60%;
    padding: 2%;
    padding-bottom: 4%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    margin: 0 auto;
}

#boshlashBtn {
    background: #FF5C00;
    border-radius: 10px;
    border: none;
    padding: 1%;
    font-size: 150%;
    font-weight: 500;
    color: white;
    width: 100%;
    margin-top: 2%;
}

/* Exam page */
.startBtn {
    width: 100%;
    padding: 1%;
    font-size: 150%;
    font-weight: 700;
    border: none;
    background: #FBB500;
    border-radius: 10px;
    margin-bottom: 2%;
}

.startBtnCLicked {
    opacity: 0.5;
}

.examQuestion {
    background: rgba(251, 181, 0, 0.11);
    border-radius: 30px;
    padding: 5%;
}

.answer input {
    width: 100%;
    padding: 2%;
    border: 1px solid #FBB500;
    border-radius: 10px;
}

.answerBtnActive {
    width: 100%;
    padding: 2%;
    border: none;
    color: black;
    background: #FBB500;
    border-radius: 10px;
}

.answerBtnDisable {
    width: 100%;
    padding: 2%;
    border: none;
    color: #A47600;
    background: rgba(251, 181, 0, 0.3);
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .textTizim p {
        font-size: 200%;
    }

    .loginResponsive{
        width: 100%;
    }

    /* examPage */

    .answer {
        width: 100%;
        margin-bottom: 3%;
    }

    .answersBtnResponsive {
        width: 100%;
    }

    .answersText h4 {
        font-size: 50%;
    }
}

/* Modal */
.popUp-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c6c0c0b5;
}

.myModal {
    width: 25%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    background: #FFFFFF;
    border-radius: 60px;
    padding: 2%;
    box-shadow: 0 5px 5px gray;
    text-align: center;
}

.myModal img {
    width: 60%;
}

.myModal button {
    background-color: white;
    border: none;
    position: relative;
    left: 45%;
    top: -20%;
}